{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="base-body">
    <div class="space"></div>
    <nav class="nav">
        <div class="nav-btn">
            <div class="open-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
            <div class="close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
        <div class="nav-brand">
            <div class="pic"><img src="{% static 'img/logo.PNG' %}" alt="" /></div>
            <div class="text">
                Ghana Cocoa Board
                <div class="smaller">Audit Department</div>
            </div>
        </div>
        <ul>
            <li class="">
                <a href="{% url 'home' %}">
                    <span class="icon"><i class="bi bi-house"></i></span>
                    Home
                </a>
            </li>            
            
            <li class="active">
                <a href="{% url 'list_report' %}">
                    <span class="icon"><i class="bi bi-archive"></i></span>
                    Reports
                </a>
            </li>
            
            <li>
                <a href="{% url 'logout' %}"  class="text-danger">
                    <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                    Logout
                </a>
            </li>
            
        </ul>
    </nav>

    <main>
        {% comment %} <h1>Home</h1> {% endcomment %}
        <div class="links">
            {% comment %} <hr /> {% endcomment %}

            <h2 class="mt-3">Reports</h2>
            <hr>
            <div class="cards mb-4 mt-1">
            <div class="row  g-3 g-xl-3">
                {% for report in object_list %}
                <div class="col-sm-6 col-xl-4">
                    <div class="card shadow-sm">
                        <div class="card-body p-4 pb-2 lh-sm">
                            <p class="card-title fw-bold">{{ report.name }}</p>
                            <p class="card-text">
                                {{ report.make }} <br>
                                <span class="small text-uppercase fst-italic text-secondary">{{ report.date }}</span>
                                <br>
                                <div class="ctas mb-0">
                                    <a href="{{report.get_absolute_url}}" class="d-inline-block open">Open</a>
                                    <a href="{% url 'update_report' report.pk %}" class="d-inline-block text-center edit ">Edit</a>
                                </div>
                            </p>
                        </div> 
                    </div>
                </div>   
                {% endfor %}

                <div class="create-report">
                    <a href="{% url 'create_report' %}" class="card text-decoration-none shadow">
                        <div class="card-body ">
                           <i class="bi bi-plus-square-fill"></i> Create Report
                        </div>
                    </a>
                </div>
            </div>

            <nav aria-label="Page navigation example" class="mt-4">
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
                        {% else %}
                        <li class="disabled page-item"><span class="page-link">Previous</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                        {% else %}
                        <li class="disabled page-item"><span class="page-link">Next</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>

            </div>
            {% comment %} <a href="{% url 'create_report' %}" class="btn btn-outline-primary">Create Inspection Report</a> {% endcomment %}
        </div>
    </main>

</div>
{% endblock %} {% block style %}
<style>
    body {
        background: #fff;
    }
</style>
{% endblock %}

{%  block scripts %}
<script src="{% static 'js/nav.js' %}">
</script>
{% endblock %}